// Colors
$darkblue: #163544;
$turquoise: #149892;
$green: #B9DEC9;
$black: #000;
$white: #FFF;

#team{
    background-color: $turquoise;

    .grid{

        .inner_grid{

            .content_grid{
                grid-template-columns: repeat(10,1fr);
                column-gap: 30px;

                .member{
                    grid-column: span 2;

                    .member_picture{
                        width: 200px;
                        height: 200px;
                        background-color: $white;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                        border-radius: 100px;
                        z-index: 99;
                        margin: 0 auto;

                        &.thijs{
                            background-image: url(../../../assets/Thijs.jpeg);
                        }

                        &.julia{
                            background-image: url(../../../assets/Julia.jpg);
                        }

                        &.irene{
                            background-image: url(../../../assets/Irene.jpeg);
                        }

                        &.rijza{
                            background-image: url(../../../assets/Rijza.jpeg);
                        }

                        &.maurits{
                            background-image: url(../../../assets/Maurits.jpeg);
                        }
                    }

                    .info{
                        margin-top:10px;

                        p{
                            color: $white;
                            text-align: center;
                            font-size: 15px;
                        }
                    }

                    .socials{
                        margin: 0 auto;
                        width: fit-content;

                        
                    }
                }
            }
        }
    }

}