<section id="team">
    <div class="grid">
        <div class="inner_grid">
            <div class="content_grid">
                <h2 class="middle">Meet the team</h2>
                <div class="member">
                    <div class="member_picture irene"></div>
                    <div class="info">
                        <p style="font-weight: bold">Irene van Erk</p>
                        <p>Communication and Multimedia design</p>
                    </div>
                    <div class="socials">
                        <a href="https://www.linkedin.com/in/irene-van-erk-065701173/" target=”_blank” class="btn_social linkedin"></a>
                        <a href="mailto:0952176@hr.nl" class="btn_social mail"></a>
                    </div>
                </div>

                <div class="member">
                    <div class="member_picture maurits"></div>
                    <div class="info">
                        <p style="font-weight: bold">Maurits Sterrenburg</p>
                        <p>Communication and Multimedia design</p>
                    </div>
                    <div class="socials">
                        <a href="https://www.linkedin.com/in/maurits-sterrenburg-43a543109/" target=”_blank” class="btn_social linkedin"></a>
                        <a href="mailto:0955769@hr.nl" class="btn_social mail"></a>
                    </div>
                </div>

                <div class="member">
                    <div class="member_picture rijza"></div>
                    <div class="info">
                        <p style="font-weight: bold">Rijza Hofstede</p>
                        <p>Communication and Multimedia design</p>
                    </div>
                    <div class="socials">
                        <a href="https://www.linkedin.com/in/rijza-hofstede-b387471a7/" target=”_blank” class="btn_social linkedin"></a>
                        <a href="mailto:0964897@hr.nl" class="btn_social mail"></a>
                    </div>
                </div>

                <div class="member">
                    <div class="member_picture thijs"></div>
                    <div class="info">
                        <p style="font-weight: bold">Thijs Lander</p>
                        <p>Creative Media and Game Technologies</p>
                    </div>
                    <div class="socials">
                        <a href="https://www.linkedin.com/in/thijs-lander-68b9b613b/" target=”_blank” class="btn_social linkedin"></a>
                        <a href="mailto:0969211@hr.nl" class="btn_social mail"></a>
                    </div>
                </div>

                <div class="member">
                    <div class="member_picture julia"></div>
                    <div class="info">
                        <p style="font-weight: bold">Julia Lanu</p>
                        <p>Creative Media and Game Technologies</p>
                    </div>
                    <div class="socials">
                        <a href="https://www.linkedin.com/in/julia-lanu-aa770884/" target=”_blank” class="btn_social linkedin"></a>
                        <a href="mailto:0959847@hr.nl" class="btn_social mail"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>