// Colors
$darkblue: #163544;
$turquoise: #149892;
$green: #B9DEC9;
$black: #000;
$white: #FFF;

.grid{

    .logo{
        
        img{
            width:100px;
        }
    }

    .menu_holder{
        grid-column: 10/ span 3;
        z-index: 99;
        text-align: right;

        ul{
            list-style-type: none;

            li{
                color: $white;
                text-decoration: none;
                font-weight: bold;
                letter-spacing: 0.3px;
                font-size: 20px;
                transition: 0.5s;
                margin-right: 30px;
                float: left;
                cursor: pointer;
    
                &:nth-child(2){
                    margin-right:0;
                }
    
                &:hover{
                    color: $turquoise;
                }
            }

        }

        
    }
}