// Colors
$darkblue: #163544;
$turquoise: #149892;
$green: #B9DEC9;
$black: #000;
$white: #FFF;

.grid{

    .logo{
        
        img{
            width:100px;
        }
    }

    .menu_holder{
        grid-column: 9/ span 4;
        z-index: 99;

        .menu_inner{
            display: grid;
            grid-template-columns: repeat(2,1fr);

            a{
                color: $white;
                text-decoration: none;
                font-weight: bold;
                letter-spacing: 0.3px;
                font-size: 20px;
                transition: 0.5s;

                &:hover{
                    color: $turquoise;
                }
            }
        }
    }
}