<section id="hero">
    <div class="grid">
        <div class="inner_grid">
            <div class="content_grid">
                <div class="first_circle"></div>
                <div class="left_content">
                    <h1>Welcome to our secret hideout!</h1>
                    <p>Cras rutrum sit amet sem quis iaculis. Cras suscipit sapien gravida pulvinar aliquam. Maecenas at faucibus quam. Quisque dui tellus, finibus vel velit a, blandit dapibus odio. Maecenas eros sem, feugiat quis ultricies eu, bibendum a tortor. Aenean non mollis purus. Quisque cursus facilisis faucibus. Vestibulum vitae ornare turpis, ac iaculis tortor. Mauris pretium neque sed augue vulputate, eget sodales neque suscipit. Donec sit amet fermentum metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse consequat velit sit amet ante eleifend pharetra quis vitae mauris. Pellentesque condimentum ultricies porta.</p>
                    <div class="btn_container">
                        <div class="btn_void">TEAM</div>
                        <div class="btn_filled">OUR PRODUCT</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>