$darkblue: #163544;
$turquoise: #149892;
$green: #B9DEC9;
$black: #000;
$white: #FFF;

.content_grid{
    position:relative;

    .first_circle{
        width: 1000px;
        height: 1000px;
        background-color: $darkblue;
        border-radius: 500px;
        position: absolute;
        right: -400px;
        top: -550px;
    }

    .left_content{
        margin: 100px 0;
        grid-column: span 5;
    
        .btn_container{
            text-align: left;
            margin-top:20px;
    
            .btn_void{
                margin-right: 20px;
            }
        }
    }

    .right_content{
        grid-column: 6/ span 6;
        z-index: 999;

        .hero_boki{
            width: 500px;
            height: 500px;
            border-radius: 300px;
            background-image: url(../../../assets/boki.jpeg);
            background-size: cover;
            background-position: center center;
            margin: 0 0 0 120px;
        }
    }
}



