<section id="hero">
    <div class="grid">
        <div class="inner_grid">
            <div class="content_grid">
                <div class="first_circle"></div>
                <div class="left_content">
                    <h1>Welcome to our secret hideout!</h1>
                    <p>Even voorstellen, wij zijn een combinatie van CMD en CMGT studenten die zich verschuilen achter de naam Tech Ninja's.
                        Voor ons project hebben wij ons bezig gehouden met AV1 en Boki. Boki is dan ook een kleinere en goedkopere versie van AV1 waar wij aan mogen sleutelen. 
                        Aan ons de taak om een extensie te bedenken die een positief effect heeft op het gebruik van telepresence robots.
                    </p>
                    <div class="btn_container">
                        <div class="btn_void" (click)="toTeam()" >TEAM</div>
                        <div class="btn_filled" (click)="toProduct()">OUR PRODUCT</div>
                    </div>
                </div>
                <div class="right_content">
                    <div class="hero_boki">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>