<section id="loki">
    <div class="grid">
        <div class="inner_grid">
            <div class="content_grid">
                <h2 class="middle">Our product</h2>
                <div class="left_content">
                    <h3>This is our product</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi congue felis nec mattis tincidunt. Nulla facilisi. Pellentesque euismod laoreet lectus. Nam eget mauris sed urna cursus luctus. Aliquam facilisis, tellus at vestibulum consequat, dui libero suscipit elit, malesuada sollicitudin augue dolor sed mauris. Etiam pulvinar tincidunt ex eu molestie. Mauris at odio odio. Sed id leo iaculis, suscipit orci sit amet, interdum felis. Duis ac nunc at est sagittis placerat id ut orci. Cras iaculis, leo a egestas cursus, elit nisl viverra ante, quis porta justo magna ut elit. Vivamus sodales sit amet risus sit amet vulputate. Ut sodales, risus quis ornare efficitur, mauris augue consectetur mi, at sagittis tellus arcu id nibh. Praesent quis vehicula nulla. Aenean condimentum blandit dolor id ultrices. Cras blandit iaculis lobortis.
                        <br><br>
                        Nam varius eros in vehicula vulputate. Nullam tempor neque sed ante blandit imperdiet. Donec luctus mollis auctor. Phasellus porttitor nibh id suscipit cursus. Nam ac luctus nisi. Mauris rutrum condimentum leo. Ut consequat facilisis sollicitudin. Duis viverra faucibus elit sed malesuada. Vivamus fermentum est vitae quam molestie molestie. Sed ut pharetra nisi, ac consequat mi. Mauris vel orci felis. Donec dignissim nulla quis dui lacinia, eu ornare nunc hendrerit. Fusce malesuada, sapien a hendrerit ullamcorper, tellus velit venenatis neque, eu dignissim justo magna eu purus. Aliquam imperdiet diam nec dui tristique mollis. Nullam porta pellentesque nibh, nec iaculis magna semper ut.
                        <br><br>
                        Curabitur sed laoreet turpis. Donec efficitur dolor eget dictum dignissim. Integer dolor nisl, dapibus sit amet ligula maximus, ullamcorper dictum arcu. Proin non libero porta dui varius finibus eget non lacus. Mauris non luctus risus, id sodales eros. Nulla sit amet enim finibus, molestie tortor a, posuere ante. Sed eleifend libero nec felis pharetra porttitor non eu nisi. Fusce hendrerit eleifend enim. Maecenas vel ullamcorper orci, nec faucibus nibh. Aenean a lorem tortor. In nulla nisi, lobortis at risus in, consectetur eleifend justo. Quisque commodo mi tortor, nec porttitor tortor tincidunt id. Cras a volutpat libero, et viverra purus. Vestibulum venenatis faucibus eros, sit amet euismod sem viverra non.
                        <br><br>
                        Phasellus mattis leo sit amet ligula pharetra, nec consectetur dolor feugiat. Curabitur lacinia finibus dolor, vitae hendrerit orci. Quisque est dolor, maximus non mi sit amet, consequat commodo metus. Proin commodo, ligula a suscipit sollicitudin, orci leo aliquam enim, sit amet viverra libero nisl a elit. Quisque nisl arcu, semper et mattis at, placerat a lorem. Nulla facilisi. Aliquam vulputate augue eleifend, lobortis turpis eu, aliquam felis. Etiam varius a elit ac vulputate.</p>
                </div>
                <div class="right_content">
                    <div class="boki">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>