$darkblue: #163544;
$turquoise: #149892;
$green: #B9DEC9;
$black: #000;
$white: #FFF;

#loki{
    background-color: $darkblue;

    .grid{

        .inner_grid{

            .content_grid{

                .left_content{
                    grid-column: span 6;

                    h3{
                        color: $white;
                    }

                    p{
                        color: $white;

                        a{
                            color: $turquoise;
                        }
                    }
                }

                .right_content{
                    grid-column: span 6;

                    .boki{
                        height:100%;
                        width:500px;
                        margin-left:100px;
                        background-image: url(../../../assets/boki_loki.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }
        }
    }
}