<section id="loki">
    <div class="grid">
        <div class="inner_grid">
            <div class="content_grid">
                <h2 class="middle">Our product</h2>
                <div class="left_content">
                    <h3>Our product: Loki</h3>
                    <p> Uit ons onderzoek is gebleken dat de gebruiker van telepresence robots in groepsprojecten wilden weten waar geluid vandaan kwam. Tijdens ons onderzoek hebben wij ons gefocust op de langdurig thuiszittende student. Voor deze doelgroep hebben wij dan ook een extensie bedacht genaamd "Loki”. Loki zorgt er voor dat de Boki geluid zal volgen zodat de student constant op de hoogte is waar geluid vandaan komt. De interface van Loki kan meebewegen in richting van de geluidsbron. Dit zorgt ervoor dat de student zich meer betrokken zal voelen tijdens de les.  
                        <br><br>
                        Deze extensie zal dan ook komen met een applicatie waarbij de gebruiker een overzicht zal verkrijgen over zijn/haar rooster. Zo kan de gebruiker gemakkelijk in zien wanneer en hoelaat hij/zij les heeft. Als de les begint zal er ook een knop weergeven worden met ‘deelnemen’. De gebruiker kan op deze manier gemakkelijk en snel deelnemen aan de les. Nadat er op de knop gedrukt is zal de student een interface voor zich zien met het beeld dat de Boki ziet. Dit is te vergelijken met een first person interface (POV). 
                        <br><br>
                        Hier krijg je vier icoontjes te zien waarbij de student uit de les kan gaan, zichzelf kan muten, zichzelf op inactief kan stellen en een vraag kan stellen. Naast deze vier icoontjes krijgt de gebruiker ook nog de knop ‘geluid volgen’ en dat is waar Loki in actie komt. Als deze actief wordt zal de gebruiker niks hoeven doen om het geluid te volgen. Is deze inactief, dan zal de gebruiker alles zelf moeten doen.
                        <br><br>
                        Klik <a href="https://t-lander.github.io/boki/" target="_blank">hier</a> om het product te bekijken!
                    </p>
                </div>
                <div class="right_content">
                    <div class="boki">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>